<!DOCTYPE html>
<html>
    <head>
        <title>Okapii | Cambiar contraseña</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/admin.css" />
        <link rel="shortcut icon" href="/img/favicon.png" />
    </head>
    <body>
        <div id="box-menu">
            <h2>Cambio de contraseña.</h2>
            <form action="/cambiarPassword" method="post">
                <label for="passwordViejo">Contraseña actual:</label>
                <input
                    id="passwordViejo"
                    type="password"
                    placeholder="Contraseña actual"
                    name="passwordViejo"
                    required
                    />

                <label for="passwordNuevo">Contraseña nueva:</label>
                <input
                    id="passwordNuevo"
                    type="password"
                    placeholder="Contraseña nueva"
                    name="passwordNuevo"
                    required
                    />

                <input type="submit" value="Cambiar contraseña" />
            </form>
            <th:block th:if="${passwordCambiada}">
                <script>
                    window.onload = function () {
                        alert("Contraseña cambiada con éxito");
                    };
                </script>
            </th:block>
            <th:block th:if="${passwordFallo}">
                <script>
                    window.onload = function () {
                        alert("Error al cambiar la constraseña");
                    };
                </script>
            </th:block>
        </div>
        <a id="volver" href="/">Volver</a>
    </body>
</html>
