<!DOCTYPE html>
<html>
    <head>
        <title>Okapii | Cliente</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/menu.css" />
        <link rel="shortcut icon" href="/img/favicon.png" />
    </head>
    <body>
        <div id="box-menu">
            <h2>Bienvenido cliente.</h2>
            <form action="/misProyectosPage" method="get">
                <input type="submit" value="Ver mis proyectos" />
            </form>
            <form action="/verCambiarPassword" method="get">
                <input type="submit" value="Cambiar contraseña" />
            </form>
            <form method="post" action="/logout">
                <input type="submit" value="Cerrar sesion" />
            </form>
        </div>
    </body>
</html>
