<!DOCTYPE html>
<html>
    <head>
        <title>Okapii | Proyectos</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/tablas.css" />
        <link rel="shortcut icon" href="/img/favicon.png" />
    </head>
    <body>
        <h2>Proyectos:</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Cliente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="proyecto, iterStat : ${proyectos}">
                    <td th:text="${proyecto.id}"></td>
                    <td th:text="${proyecto.nombre}"></td>
                    <td th:text="${proyecto.estado}"></td>
                    <td
                        th:text="${#dates.format(proyecto.fecha_inicio, 'dd/MM/yyyy')}"
                        ></td>
                    <td
                        th:text="${#dates.format(proyecto.fecha_final, 'dd/MM/yyyy')}"
                        ></td>
                    <td th:text="${nombres[iterStat.index]}"></td>
                    <td>
                        <a id="editar" th:href="@{/proyectos/{id}/editar(id=${proyecto.id})}">Editar</a>
                        <th:block th:if="${proyecto.estado == 'En proceso'}">
                            <form id="finalizar" action="/finalizarProyecto" method="post">
                                <input type="hidden" name="id" th:value="${proyecto.id}" />
                                <input type="submit" value="Finalizar" />
                            </form>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
        <a id="volver" href="/">Volver</a>
    </body>
</html>
